<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>CL | Quiz</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/common.css" type="text/css" rel="stylesheet" media="screen,projection"/>

        <link rel="icon"  type="image/png" href="/img/crowdlearning.png">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script  src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a id="brand-image" class="brand-logo">CrowdLearning</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/<%=link%>/<%=classname%>/coursepage"><%= classname%></a></li>
        <li><a href="/<%= link%>/home">Course</a></li>
        <li><a href="/user/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="container"> 
       <div class="card z-depth-2 top-margin">
           <div class="card-content">
              You have scored <%= score%> out of <%= number%>
              <br>
              End of Quiz! Please Logout!
            </div>
        </div>
        </div>
        </body>
        </html>