<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>CL | Home</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/common.css" type="text/css" rel="stylesheet" media="screen,projection"/>

        <link rel="icon"  type="image/png" href="/img/crowdlearning.png">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script  src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a id="brand-image" class="brand-logo">CrowdLearning</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/<%=link%>/<%=classname%>/myteam">Team</a></li>
        <li><a href="/<%= link%>/home">Course</a></li>
        <li><a href="/user/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
    <div class="container">
      <div class="row center top-margin">
        <div class="col s12">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Questions</span>
              <p>Create a new question or collaborate with your team using appropriate link below</p>
            </div>
            <div class="card-action">
              <a href="/student/<%=classname%>/createquestion">Create new Question</a> |
              <a href="#">Collaborate</a>
            </div>
          </div>
        </div>
        </div>
<div class ="row">
  <br>
  <br>
                <% if(data.length > 0){ %>
            <h5>Your Questions:</h5>
            <ul class="collection">
              <% for(var i=0; i < data.length; i++) { %>

                    <li class="collection-item">
                      <%= i+1%>) <span class="title"> <%= data[i]._topic.topicname%></span>
                      <p> <%= data[i].question %> </p>
                      Status: <b><%= data[i].status%> </b>
                      <a href="/student/<%=classname%>/myquestions/<%= data[i]._latestcopy%>" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
              <% } %>
            </ul>
           <% } else{ %>
             <div class= "row center">
              <div class="red-text">
                     <h5> You have not created questions yet! </h5>
               </div>
             </div>
          <% } %>


          </div>

  </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92848140-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
